@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(_mixin);
body {
  font-family: "Open Sans", "Helvetica Neue", Tahoma, sans-serif;
  font-weight: 400; }

a {
  color: #1abc9c; }
  a:hover, a:focus {
    color: #17a689; }

h1, h2, h3, h4, h5 {
  font-family: "Raleway", "Helvetica Neue", Tahoma, sans-serif;
  font-weight: 500; }

.btn-primary {
  background-color: #1abc9c;
  border-color: #17a689; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #28e1bd;
    border-color: #17a689; }

.navbar-inverse {
  background-color: #2e2e2e;
  color: #fefefe; }
  .navbar-inverse .navbar-nav li a {
    color: #fefefe; }
    .navbar-inverse .navbar-nav li a i.fa {
      font-size: 24px; }
  .navbar-inverse .navbar-nav li a:focus, .navbar-inverse .navbar-nav li a:hover {
    background-color: #242424; }
  .navbar-inverse .navbar-nav li.active a {
    background-color: #242424; }
  .navbar-inverse .navbar-nav li.dropdown ul li a {
    color: #2e2e2e; }
    .navbar-inverse .navbar-nav li.dropdown ul li a:focus, .navbar-inverse .navbar-nav li.dropdown ul li a:hover {
      color: #fefefe; }

.stats-bg {
  background-color: #2e2e2e;
  margin-top: 40px;
  margin-bottom: 15px; }
  .stats-bg .stats {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    color: #fefefe; }
    .stats-bg .stats h1 {
      color: #1abc9c; }
    .stats-bg .stats h4 small {
      display: block;
      margin-top: 5px; }

.jumbotron {
  height: 540px;
  background-image: url("../img/big_background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }
  .jumbotron .container-fluid {
    position: absolute;
    background-color: rgba(46, 46, 46, 0.4);
    bottom: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    left: 0;
    right: 0;
    color: #fefefe; }
    .jumbotron .container-fluid form.form-horizontal label {
      padding: 5px 10px;
      background-color: #1abc9c;
      -webkit-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-radius: 5px; }
    .jumbotron .container-fluid form.form-horizontal .input-group {
      margin-top: 5px; }

.frontpage-catcher {
  text-align: center; }
  .frontpage-catcher h1 {
    text-transform: uppercase; }

.frontpage-facts {
  text-align: center; }

.loginForm {
  margin-top: 80px; }
  .loginForm .panel-primary {
    border-color: #1abc9c; }
    .loginForm .panel-primary .panel-heading {
      background-color: #1abc9c;
      border-color: #1abc9c; }
