@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@import url(_mixin);

$primary-black: #2e2e2e;
$primary-white: #fefefe;
$primary-lightgrey: #efefef;

$primary: #1abc9c;
$pridark: darken($primary, 5%);
$prilight: lighten($primary, 10%);

$font-stack: 'Open Sans', 'Helvetica Neue', Tahoma, sans-serif;
$font-head: 'Raleway', 'Helvetica Neue', Tahoma, sans-serif;

body {
	font-family: $font-stack;
	font-weight: 400;
}

a {
	color: $primary;
	&:hover, &:focus {
		color: $pridark;
	}
}

h1, h2, h3, h4, h5 {
	font-family: $font-head;
	font-weight: 500;
}

.btn-primary {
	background-color: $primary;
	border-color: $pridark;
	&:hover, &:focus {
		background-color: $prilight;
		border-color: $pridark;
	}
} // .btn-primary

.navbar-inverse {
	background-color: $primary-black;
	color: $primary-white;
	.navbar-nav {
		li {
			a {
				color: $primary-white;
				i.fa {
					font-size:24px;
				}
			} // a
			a:focus, a:hover {
				background-color: darken($primary-black, 4%);
			}
			&.active {
				a {
					background-color: darken($primary-black, 4%);
				}
			} // &.active
			&.dropdown {
				ul li a {
					color: $primary-black;
					&:focus, &:hover {
						color: $primary-white;
					}
				} // ul li a
			} // &.dropdown
		} // li
	} // .navbar-nav
} // .navbar-inverse

.stats-bg {
	background-color:$primary-black;
	margin-top:40px;
	margin-bottom:15px;
	.stats {
		padding-top:30px;
		padding-bottom:40px;
		text-align: center;
		color: $primary-white;
		h1 { color: $primary;}
		h4 small {
			display: block;
			margin-top:5px;
		}
	} // .stats
} // .stats-bg

.jumbotron {
	height:540px;
	background-image: url("../img/big_background.jpg");
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
	position: relative;
	.container-fluid {
		position:absolute;
		background-color: rgba($primary-black, .4);
		bottom:40px;
		padding-top:25px;
		padding-bottom:30px;
		left:0;
		right:0;
		color:$primary-white;
		form.form-horizontal {
			label {
				padding:5px 10px;
				background-color:$primary;
				-webkit-border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				border-radius: 5px;
			} // label
			.input-group {
				margin-top:5px;
			}
		} // form.form-hroizontal
	} // .container-fluid
} // .jumbotron

.searchresult {
	margin-top:-4px;
	background-image: url("../img/big_background.jpg");
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
	.container-fluid {
		margin-top:60px;
		background-color: rgba($primary-black, .4);
		padding-top:25px;
		padding-bottom:30px;
		position: relative;
		left:0;
		right:0;
		color:$primary-white;
		form.form-horizontal {
			label {
				padding:5px 10px;
				background-color:$primary;
				-webkit-border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				border-radius: 5px;
			} // label
			.input-group {
				margin-top:5px;
			}
		} // form.form-horizontal
	} // .container-fluid
} // .searchresult

.container	{
	.filters {
		margin-top:40px;
		min-height:280px;
		.panel-primary {
			border-color: $primary;
			.panel-heading {
				background-color: $primary;
				border-color: $primary;
			}
		} // .panel-primary
	} // .filters
	.results {
		@media (min-width:768px) {
			margin-top:40px;
		}
		height:auto;
		.resultset {
			-webkit-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border-radius: 5px;
			border:1px solid $primary-lightgrey;
			margin-bottom:15px;
			.departure, .return {
				padding-top:15px;
				padding-bottom:15px;
				.selskab {
					margin-bottom:10px;
					.selskabsnavn {
						font-size:12px;
						font-weight: 300;
						color: darken($primary-lightgrey, 20%);
					}
				}
				.company {
					text-align:center;
					border-right:1px solid $primary-lightgrey;
					img {
						margin: 0 auto;
					}
					p {
						font-size:12px;
						-webkit-hyphens: auto;
				  		-moz-hyphens: auto;
				  		-ms-hyphens: auto;
				  		hyphens: auto;
				  		word-break: break-all;
					}
				} // .company
				.departureinfo, .arrivalinfo {
					h4 small {
						display: block;
					}
				}
				.departureinfo {
					text-align:right;
				}
				.traveltime {
					text-align: center;
					border: 1px solid $primary-lightgrey;
					border-top:none;
					border-bottom:none;
					.timeline {
						height:4px;
						width:90%;
						margin:4px auto;
						background-color:$primary;
					}
					p {
						text-transform: uppercase;
						font-size:12px;
					}
				}
			} // .departure, .return
			.return {
				border-top:1px solid $primary-lightgrey;
			}

			.pricearea {
				position: relative;
				background-color: rgba($primary, 0.2);
				text-align: right;
				@media (min-width:767px) {
					min-height:277px;
					-webkit-border-top-right-radius: 5px;
					-webkit-border-bottom-right-radius: 5px;
					-moz-border-top-right-radius: 5px;
					-moz-border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				@media (max-width:767px) {
					min-height:200px;
					-webkit-border-bottom-left-radius: 5px;
					-webkit-border-bottom-right-radius: 5px;
					-moz-border-bottom-left-radius: 5px;
					-moz-border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				.prices {
					position: absolute;
					bottom:50px;
					color: darken($primary-lightgrey, 50%);
					width:100%;
					text-align: right;
					.grouppassengers {
						font-size:14px;
					}
					.singlepassenger {
						font-size:20px;
					}
				}
				.btn {
					width:90%;
					position: absolute;
					bottom:10px;
					left: 5%;
					right: 5%;
				}
			}
		} // .resultset
	} // .results
} // .container

.frontpage-catcher {
	text-align:center;
	h1 { text-transform: uppercase;}
}

.frontpage-facts {
	text-align: center;
}

.signupForm {
	margin-top:80px;
	form.form-horizontal {
		label {
			color: $primary-white;
			margin:10px 0;
			padding:5px 10px;
			background-color:$primary;
			-webkit-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border-radius: 5px;
		} // label
		.btn { margin-top:30px;}
	} // form.form-horizontal
} // .signupForm

.loginForm {
	margin-top:80px;
	.panel-primary {
		border-color: $primary;
		.panel-heading {
			background-color: $primary;
			border-color: $primary;
		}
	} // .panel-primary
} // .loginForm