@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@import url(_mixin);

$primary-black: #2e2e2e;
$primary-white: #fefefe;
$primary-lightgrey: #efefef;

$primary: #1abc9c;
$pridark: darken($primary, 10%);
$prilight: lighten($primary, 10%);

$font-stack: 'Open Sans', 'Helvetica Neue', Tahoma, sans-serif;
$font-head: 'Raleway', 'Helvetica Neue', Tahoma, sans-serif;

// Mixins - Need to import this, from another file
// Usage: .box { @include border-radius(10px);}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	font-family: $font-stack;
	font-weight: 400;
}
h1, h2, h3, h4, h5 {
	font-family: $font-head;
	font-weight: 500;
}

.navbar-inverse {
	background-color: $primary-black;
	color: $primary-white;
	.navbar-nav {
		li {
			a {
				color: $primary-white;
				font-size:24px;
			}
			a:focus, a:hover {
				background-color: darken($primary-black, 4%);
			}
			&.active {
				a {
					background-color: darken($primary-black, 4%);
				}
			}
			&.dropdown {
				ul li a {
					color: $primary-black;
					&:focus, &:hover {
						color: $primary-white;
					}
				}
			}
		}
	}
}

.jumbotron {
	height:540px;
	background-image: url("../img/big_background.jpg");
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
	position: relative;
	.container-fluid {
		position:absolute;
		background-color: rgba($primary-black, .4);
		bottom:40px;
		padding-top:25px;
		padding-bottom:30px;
		left:0;
		right:0;
		color:$primary-white;
		form.form-horizontal {
			label {
				margin-bottom:-5px;
				margin-left:6px;
				padding:5px 10px;
				background-color:$primary;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			.input-group { margin-top:5px;}
			.btn-primary {
				background-color: $primary;
				border-color: $pridark;
				&:hover, &:focus {
					background-color: $prilight;
				}
			}
		}
	}
}
.frontpage-catcher {
	text-align:center;
	h1 { text-transform: uppercase;}
}
.frontpage-facts {
	text-align: center;
}

// UPCOMING UPDATE !!
// .steps {
// 	.step-circle {
// 		margin-right: 10px;
// 		height:40px;
// 		width:40px;
// 		// @include border-radius(50%);
// 		border-color: $pridark;
// 		color:$primary;
// 		&.active {
// 			background-color: $primary;
// 			color: $pridark;
// 		}
// 	}
// }