<div class="chosenbooking">
  <div class="container-fluid">
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-10">
          <div class="clearfix departure">
            <div class="row selskab">
              <div class="col-xs-12">
                <span class="selskabsnavn">Selskabsnavn</span>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2 company">
              <img src="http://placehold.it/64x64" class="img-responsive">
            </div>
            <div class="col-xs-9 col-sm-3 col-md-3 departureinfo">
              <h4>{{flight.origin}} 10:45 <small>København</small></h4>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 traveltime">
              <h5 class="time">1t 20m</h5>
              <div class="timeline"></div>
              <p>direkte</p>
            </div>
            <div class="col-xs-9 col-sm-3 col-md-3 arrivalinfo">
              <h4>11:30 AAL <small>Aalborg</small></h4>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 flightnr">
              <h5>DY2801</h5>
            </div>
          </div><!-- /.row.departure -->
        </div><!-- /.col-xs-12.col-sm-8 -->
        <div class="col-xs-12 col-sm-2 pricearea">
          <div class="row prices">
            <div class="col-xs-12 grouppassengers">2.775 DKK <i class="fa fa-users"></i></div>
            <div class="col-xs-12 singlepassenger">925 DKK <i class="fa fa-user"></i></div>
          </div>
        </div>
    	</div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.container-fluid -->
</div><!-- /.searchresult -->

<div class="container">
  <div class="row bookingform">
    <form class="form-horizontal">
      <div class="col-xs-12 contactinfo">
        <h1><i class="fa fa-book"></i> Kontaktinfo</h1>
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label">Fornavn</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Lars">
            </div>

            <label class="control-label">Efternavn</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Larsen">
            </div>

            <label class="control-label">Telefon</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input type="number" class="form-control" placeholder="2244 3355">
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <label class="control-label">Adresse</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home"></i></span>
              <input type="text" class="form-control" placeholder="Kastrupvej 1A, 1. tv">
            </div>

            <label class="control-label">By</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input type="text" class="form-control" placeholder="København N.">
            </div>

            <label class="control-label">Postnummer</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input type="number" class="form-control" placeholder="2100">
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <label class="control-label">Land</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe"></i></span>
              <input type="text" class="form-control" placeholder="Danmark">
            </div>

            <label class="control-label">E-mail</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" class="form-control" placeholder="info@justfly.dk">
            </div>

            <label class="control-label">Bekræft E-mail</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-check"></i></span>
              <input type="email" class="form-control" placeholder="info@justfly.dk">
            </div>
          </div><!-- /.col-sm-4 -->
        </div><!-- /.row -->
      </div><!-- /.col-xs-12.contactinfo -->

      <hr/>

      <div class="col-xs-12 passengersinfo">
        <h1><i class="fa fa-book"></i> Medrejsende</h1>
        <div class="row">
          <div class="col-xs-12">
            <h4>Medrejsende 1</h4>
          </div>
          <div class="col-sm-4">
            <label class="control-label">Fornavn</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Lars">
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <label class="control-label">Efternavn</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Larsen">
            </div>
          </div><!-- /.col-sm-4 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-12">
            <h4>Medrejsende 2</h4>
          </div>
          <div class="col-sm-4">
            <label class="control-label">Fornavn</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Lars">
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <label class="control-label">Efternavn</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Larsen">
            </div>
          </div><!-- /.col-sm-4 -->
        </div><!-- /.row -->
      </div><!-- /.col-xs-12.passengersinfo -->
      <div class="col-xs-12">
        <div class="input-group col-sm-4 bookingbtn">
          <button type="submit" id="book" class="btn btn-primary"><i class="fa fa-ticket"></i> Book Billetter</button>
        </div>
      </div>
    </form> <!-- /form.form-horizontal -->
  </div><!-- /.row.bookingform -->
</div><!-- /.container -->