<h1>Frontpage</h1>
<p>A rewrite of the seed provided by the school</p>
<p>Casper Schultz</p>
<table class="table">
    <thead>
        <tr>
            <td>Origin</td>
            <td>Destination</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="flight in forntpageCtrl.flights">
            <td>{{flight.origin}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.totalPrice}}</td>
        </tr>
    </tbody>
</table>
<button ng-click="forntpageCtrl.click()" class="btn btn-default">Send</button>