<div class="searchresult">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" ng-submit="searchFlights()">
                    <div class="col-sm-3">
                        <label class="control-label">Afrejse</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-plane"></i></span>
                            <autocomplete attr-placeholder="Origin" data="cities" ng-model="search.from" on-type="updateCities"></autocomplete>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Destination</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-plane"></i></span>
                            <autocomplete attr-placeholder="Destination" data="cities" ng-model="search.to" on-type="updateCities"></autocomplete>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Dato</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" class="form-control" ng-model="search.date" placeholder="2/12/2015">
                        </div>
                    </div> 
                    
                    <div class="col-sm-3">
                        <label class="control-label">Passagerer</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="number" class="form-control" ng-model="search.seats" name="adults" min="0" value="0">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group col-sm-3 formbutton" ng-click="searchFlights()">
                            <button type="button" id="search"  class="btn btn-primary col-xs-12"><i class="fa fa-search"></i> Find Fly</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.container-fluid -->
</div><!-- /.searchresult -->

<div class="container">
    <div class="row">

        <!-- SIDEBAR FOR FILTERS -->
        <div class="col-sm-4 col-md-3 filters">
            <div class="panel panel-default">
                <div class="panel-heading">Pricerange</div>
                <div class="panel-body">
                    <p>** JQUERY SLIDER HERE **</p>
                </div>
            </div><!-- /pricerange panel -->

            <div class="panel panel-default">
                <div class="panel-heading">Traveltime</div>
                <div class="panel-body">
                    <p>** JQUERY SLIDER HERE **</p>
                </div>
            </div>

        </div><!-- /.filters -->
        <!-- END /SIDEBAR FOR FILTERS -->
        <div class="not_found" ng-hide="results">No Results</div>
        <!-- RESULTS FROM SEARCH -->
        <div class="col-sm-8 col-md-9 results">
            
            <div class="row resultset" ng-repeat="flight in results">
                <div class="col-xs-12 col-sm-9">
                    <div class="clearfix departure">
                        <div class="row selskab">
                            <div class="col-xs-12">
                                <span class="selskabsnavn"></span>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-2 company">
                            <img src="http://placehold.it/64x64" class="img-responsive">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-3 departureinfo">
                            <h4>{{flight.origin}} {{flight.date | date:'HH:mm'}} <small></small></h4>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 traveltime">
                            <h5 class="time">{{flight.traveltime}}m</h5>
                            <div class="timeline"></div>
                            <p>direkte</p>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-3 arrivalinfo">
                            <h4>{{flight.endDate | date:'HH:mm'}} {{flight.destination}} <small>Aalborg</small></h4>
                        </div>
                    </div><!-- /.row.departure -->
                </div><!-- /.col-xs-12.col-sm-8 -->
                <div class="col-xs-12 col-sm-3 pricearea">
                    <div class="row prices">
                        <div class="col-xs-12 grouppassengers" ng-hide="flight.numberOfSeats <= 1">{{flight.totalPrice}} DKK <i class="fa fa-users"></i></div>
                        <div class="col-xs-12 singlepassenger">{{flight.totalPrice / flight.numberOfSeats}} DKK <i class="fa fa-user"></i></div>
                    </div>
                    <a href="#/booking"class="btn btn-success"><i class="fa fa-plus"></i> Book Nu</a>
                </div>
            </div><!-- /.resultset -->
            
            
        </div><!-- /.results -->
        <!-- END /RESULTS FROM SEARCH -->
    </div>
</div>