<div class="searchresult">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" ng-submit="searchFlights()">
                    <div class="col-sm-3">
                        <label class="control-label">Afrejse</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-plane"></i></span>
                            <autocomplete attr-placeholder="Origin" data="cities" on-select="pickorigin" on-type="updateCities" required></autocomplete>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Destination</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-plane"></i></span>
                            <autocomplete attr-placeholder="Destination" data="cities" on-select="pickdestination" on-type="updateCities"></autocomplete>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Dato</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" class="form-control" ng-model="search.date" placeholder="2/12/2015" required>
                        </div>
                    </div> 

                    <div class="col-sm-3">
                        <label class="control-label">Passagerer</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="number" class="form-control" ng-model="search.seats" name="adults" min="0" value="0" required>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group col-sm-3 formbutton" ng-click="searchFlights()">
                            <button type="submit" id="search"  class="btn btn-primary col-xs-12"><i class="fa fa-search"></i> Find Fly</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.container-fluid -->
</div><!-- /.searchresult -->

<div class="container">
    <div class="row">

        <!-- SIDEBAR FOR FILTERS -->
        <div class="col-sm-4 col-md-3 filters">
            <div class="panel panel-default">
                <div class="panel-heading">Pricerange <small>- DKK</small></div>
                <div class="panel-body">
                    <div>
                        <rzslider
                            rz-slider-model="priceSlider.min"
                            rz-slider-high="priceSlider.max"
                            rz-slider-options="priceSlider.options"></rzslider>
                    </div>
                </div>
            </div><!-- /pricerange panel -->

            <div class="panel panel-default">
                <div class="panel-heading">Traveltime <small>- Minutes</small></div>
                <div class="panel-body">
                    <div>
                        <div>
                            <rzslider
                                rz-slider-model="durationSlider.value"
                                rz-slider-options="durationSlider.options"></rzslider>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.filters -->
        <!-- END /SIDEBAR FOR FILTERS -->
        <div class="not_found" ng-hide="results">
            <p>Der blev ikke fundet nogle afgange.</p>
            <p>Prøv venligst igen.</p>
        </div>
        <!-- RESULTS FROM SEARCH -->
        <div class="col-sm-8 col-md-9 results">

            <div class="row resultset" ng-repeat="flight in results | filter: filterSearch(priceSlider.min,priceSlider.max,durationSlider.value)">
                <div class="col-xs-12 col-sm-9">
                    <div class="clearfix departure">
                        <div class="row selskab">
                            <div class="col-xs-12">
                                <span class="selskabsnavn">{{flight.airline}}</span>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-2 company">
                            <img src="http://placehold.it/64x64" class="img-responsive">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-3 departureinfo">
                            <h4>{{flight.origin}} {{flight.date| date:'HH:mm'}} <small></small></h4>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 traveltime">
                            <h5 class="time">{{flight.traveltime | traveltime}}</h5>
                            <div class="timeline"></div>
                            <p>direkte</p>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-3 arrivalinfo">
                            <h4>{{flight.endDate| date:'HH:mm'}} {{flight.destination}} <small></small></h4>
                        </div>
                    </div><!-- /.row.departure -->
                </div><!-- /.col-xs-12.col-sm-8 -->
                <div class="col-xs-12 col-sm-3 pricearea">
                    <!--<p class="airline-heading">{{flight.airline}}</p>-->
                    <div class="row prices">
                        <div class="col-xs-12 grouppassengers" ng-hide="flight.numberOfSeats <= 1">{{flight.totalPrice}} DKK <i class="fa fa-users"></i></div>
                        <div class="col-xs-12 singlepassenger">{{flight.totalPrice / flight.numberOfSeats}} DKK <i class="fa fa-user"></i></div>
                    </div>
                    <a ng-click="selectFlight(flight)" href="#/booking" class="btn btn-success"><i class="fa fa-plus"></i> Book Nu</a>
                </div>
            </div><!-- /.resultset -->


        </div><!-- /.results -->
        <!-- END /RESULTS FROM SEARCH -->
    </div>
</div>