<div class="searchresult">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" ng-model="search">
                    <div class="col-sm-3">
                        <label class="control-label">Afrejse</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-plane"></i></span>
                            <autocomplete ng-model="search.from" attr-placeholder="Origin" data="locations" on-select="pickorigin" on-type="updateLocations" required></autocomplete>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Destination</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-plane"></i></span>
                            <autocomplete ng-model="search.to" attr-placeholder="Destination" data="locations" on-select="pickdestination" on-type="updateLocations"></autocomplete>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Dato</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" class="form-control" ng-model="search.date" placeholder="2/12/2015">
                        </div>
                    </div> 

                    <div class="col-sm-3">
                        <label class="control-label">Passagerer</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="number" class="form-control" ng-model="search.seats" name="adults" min="0" value="0">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group col-sm-3 formbutton">
                            <button type="submit" ng-click="searchFlights()" id="search"  class="btn btn-primary col-xs-12"><i class="fa fa-search"></i> Find Fly</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.container-fluid -->
</div><!-- /.searchresult -->

<div class="container">
    <div class="row">

        <div class="col-xs-12" ng-show="results.length === 0">
            <no-result></no-result>
        </div>

        <!-- SIDEBAR FOR FILTERS -->
        <div class="col-sm-4 col-md-3 filters" ng-hide="results.length === 0">

            <div class="panel panel-default">
                <div class="panel-heading">Søgefilter <small>- lokalt</small></div>
                <div class="panel-body">
                    <h5>Priser <small>- EUR</small></h5>
                    <div>
                        <div>
                            <rzslider
                                rz-slider-model="priceSlider.min"
                                rz-slider-high="priceSlider.max"
                                rz-slider-options="priceSlider.options"></rzslider>
                        </div>
                    </div>
                    <hr>
                    <h5>Tidspunkt <small>- Klokkeslet</small></h5>
                    <div>
                        <div>
                            <rzslider
                                rz-slider-model="timeOfDaySlider.min"
                                rz-slider-high="timeOfDaySlider.max"
                                rz-slider-options="timeOfDaySlider.options"></rzslider>
                        </div>
                    </div>
                    <hr>
                    <h5>Rejsetid <small>- Timer</small></h5>
                    <div>
                        <div>
                            <rzslider
                                rz-slider-model="durationSlider.value"
                                rz-slider-options="durationSlider.options"></rzslider>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.filters -->
        <!-- END /SIDEBAR FOR FILTERS -->

        <!-- RESULTS FROM SEARCH -->
        <div class="col-sm-8 col-md-9 results">

            <div class="row resultset" ng-repeat="flight in pagedResults">
                <flight-result result="flight" reserve="selectFlight"></flight-result>
            </div><!-- /.resultset -->
              <uib-pagination 
                ng-model="currentPage"
                total-items="resultSize"
                max-size="maxSize"  
                boundary-links="true">
            </uib-pagination>
        </div><!-- /.results -->
      
        <!-- END /RESULTS FROM SEARCH -->
    </div>
</div>