<div class="container">
    <div class="row signupForm">
        <div class="col-xs-12">
            <h1><i class="fa fa-user-plus"></i> Sign Up</h1>
            <form role="form" class="form-horizontal" ng-show="!ctrl.authenticated" ng-submit="ctrl.doLogin()">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Fornavn</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input type="text" class="form-control" placeholder="Lars">
                        </div>

                        <label class="control-label">Efternavn</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input type="text" class="form-control" placeholder="Larsen">
                        </div>

                        <label class="control-label">Telefon</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                          <input type="number" class="form-control" placeholder="2244 3355">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Adresse</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-home"></i></span>
                          <input type="text" class="form-control" placeholder="Kastrupvej 1A, 1. tv">
                        </div>

                        <label class="control-label">By</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                          <input type="text" class="form-control" placeholder="København N.">
                        </div>

                        <label class="control-label">Postnummer</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                          <input type="number" class="form-control" placeholder="2100">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Land</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                          <input type="text" class="form-control" placeholder="Danmark">
                        </div>

                        <label class="control-label">E-mail</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <input type="email" class="form-control" placeholder="info@justfly.dk">
                        </div>

                        <label class="control-label">Bekræft E-mail</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-check"></i></span>
                          <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="input-group col-xs-12">
                          <button type="submit" id="signup" class="btn btn-primary col-xs-12"><i class="fa fa-plus"></i> Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->